<div id="modalHolder" style="display: none;">
    <div id="modal">
    </div>
</div>

<div class="container">
    <h1 id='heading' class="text-center"><i>Tom Riddle</i></h1>
    <hr>
    <div id="textDiv" style="" class="form-group">
        <textarea class="form-control" id="textarea" style="resize: none;"></textarea>
        <div class="text-center">
            <br>
            <button class="btn-primary" id="button-dialog" onclick="">Tom's Search</button>
            <button style="height: 26px;" onclick="">Search by Instance</button>
            <button style="height: 26px;" onclick="">Search by Properity</button>
            <button style="height: 26px;" onclick="">Search by Subclass</button>
        </div>
    </div>
    <div id="minDiv" class="main">
        <div>
            <div class="add-memory-header">
                <div style="display: inline-block; width: 100%;">
                    <div style="float: right;">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="jumbotron">
                <h3>Hello, world!</h3>
                <p>info info info</p>
                
            </div>
            <div class="jumbotron">
                <h3><a>Hello, world!</a></h3>
                <p>info info info</p>
            </div>
            <div class="jumbotron">
                <h3>Hello, world!</h3>
                <p>info info info</p>
            </div>
        </div>
    </div>
</div>